.box_1,
.box_2{
    margin:0;
    height: 50%;
    width: 30px;
}

.box_1{
    background-color: yellow;
}
.box_2{
    background-color: darkgreen;
}

.box{
    background-color: #ff4400;
    height: 100px;
    width: 80px;
}