div{
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    font-family: Arial;
    color: #ff5500;
    border:1px solid black
}

/*

字体颜色
1.土鳖式 直接写英文单词 color: green

2.颜色代码 color: FF0000
    如果颜色代码没两位都重复，则可以简写成三位

3.函数代码 rgb(0-255,0-255,0-255)


r      g      b
00-ff  00-ff  00-ff 十六进制，各代表了红色 绿色 蓝色的饱和度



border 边框效果  三个属性 像素  类型  颜色


*/