<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist功能</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="root">
    <div>
        <input v-model="inputValue">
        <button @click="handleClick">提交</button>
    </div>
    <ul>
        <todo-item v-for="(item,index) of list"
                   :key="item"
                   :content="item"
                   :index="index"
                   @delete="handleDelete"
        >

        </todo-item>
        <!--<li v-for="(item, index) of list" :key="index">{{item}}</li>-->
    </ul>
</div>
<script>

//    全局定义
//    Vue.component('todo-item',{
//       template: '<li>item</li>'
//    });

//    局部定义
    var TodoItem = {
        props:['content','index'],
        template: '<li @click="handleClick">{{content}}</li>',
        methods:{
            handleClick: function () {
                this.$emit('delete',this.index) //这边传递handleDelete函数的参数index 发布delete事件，父组件获取delete事件。
//                this.$emit('delete',this.index)
            }
        }
    };

    //父组件
    new Vue({
        el: "#root",
        components:{
          'todo-item': TodoItem
        },
        data: {
            inputValue: "",
            list: []
        },
        methods:{
            handleClick: function () {
                this.list.push(this.inputValue);
                this.inputValue = ''
            },
            handleDelete: function (index) {
//                alert(index);
                this.list.splice(index,1)
            }
        }
    })
</script>
</body>
</html>